<h1>Editar Consulta</h1>

<%= render 'form', atendimento: @atendimento %>

<%= button_to "Excluir Consulta", atendimento_path(@atendimento), method: :delete, data: { confirm: 'Você tem certeza que deseja excluir esta consulta?' } %>
<%= link_to "Voltar", atendimento_path(@atendimento) %>