<h1>Novo Atendimento</h1>
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
<%= render 'form', atendimento: @atendimento %>
<p></p>
<div class="text-center">
  <%= link_to "<button>Back to atendimentos</button>".html_safe, atendimentos_path, class: "btn btn-primary" %>
  <%= link_to "<button>Home page</button>".html_safe, root_path, class: "btn btn-secondary" %>
</div>
