<h2>Forgot your password?</h2>
<div class="alert">
  <p>Aviso: A funcionalidade de redefinição de senha não foi implementada neste momento.</p>
</div>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<% end %>

<%= render "devise/shared/links" %>
