<div class="bg-blue-400 p-4 rounded-lg mb-4">
  <h2 class="text-white text-lg font-semibold mb-2">Forgot your password?</h2>

  <div class="alert">
    <p class="text-white">Aviso: A funcionalidade de redefinição de senha não foi implementada neste momento.</p>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= render "devise/shared/links" %>
  <% end %>
</div>
