<table border="1" align="center" bgcolor="#daa520">
  <tr>
    <td>
      <div align="center">
        <h3>Cadastro do Paciente</h3>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <%= render "form", patient: @patient %>
    </td>
  </tr>
</table>
